@font-face {
  font-family: 'zabars';
  src: url('fonts/zabars.ttf') format('truetype');
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'zabars', Arial, Helvetica, sans-serif;
  font-size: 64px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

h2 {
  font-family: 'zabars', Arial, Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.d-none {
  display: none !important;
}

.canvas-container {
  width: fit-content;
  height: fit-content;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
}

canvas {
  background-color: black;
}

.modal-content {
  background-color: rgba(250, 177, 43, 0.874);
}

.modal-body img {
  width: 100%;
}

.btn {
  border-color: transparent;
}

.btn:hover {
  border-color: transparent;
}

.btn-danger {
  background-color: rgba(165, 42, 42, 0.523);
}

.btn-danger:hover {
  background-color: brown;
}

.btn-secondary {
  background-color: rgba(0, 0, 0, 0.523);
}

.btn-secondary:hover {
  background-color: black;
}

.btn-light {
  background-color: transparent;
  border: none;
}

.btn-light:hover {
  background-color: rgba(255, 255, 255, 0.523);
}

.canvas {
  position: relative;
}

.menubar {
  display: flex;
  gap: 12px;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 700px;
  justify-content: space-between;
}

.menubar span {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 10px;
  border-radius: 5px;
}

.menubar span:hover {
  color: white;
}

.menubar .btn {
  padding: 0 10px;
  color: black;
}

.height-100-precent {
  height: 100%;
}

.height-100vh {
  height: 100vh;
}

.width-100-percent {
  width: 100%;
}

.controls-media {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  display: none;
}

.controls-media div {
  display: flex;
  gap: 10px;
}

.controls-media img {
  width: 50px;
  height: 50px;
}

.throw-bottle {
  border-radius: 50%;
  background-color: #9cc4f7;
  border-color: black;
}

.imageStartScreen {
  width: 80%;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.imageStartScreen img {
  width: 100%;
  object-fit: contain;
}

.startButton {
  width: 200px;
  border: 3px black solid;
  box-shadow: 6px 5px 8px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

.startButton:hover {
  border: 3px black solid;
}

.imageStartScreen a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.settingsButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.settingsButton:hover {
  opacity: 0.5;
}

.col {
display: flex;
align-items: center;
}

.col img {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.storyButton {
  background-color: white;
  font-weight: 700;
  position: absolute;
  top: 20px;
  left: 20px;
}

.pop-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  padding-bottom: 24px;
}

.form-check-input {
  cursor: pointer;
}

@media (max-width: 768px) {
  .canvas-container {
    max-width: none;
  }
  .menubar {
    bottom: unset;
    top: 0;
    margin-top: 10px;
    width: auto;
  }
  .menubar .btn {
    padding: 0;
  }
  .title {
    display: none;
  }
  .controls-media {
    display: flex;
  }
  .imageStartScreen {
    width: 100%;
  }
  .col {
    padding-left: 0;
  }
  .menubar span {
    display: none;
  }
  .settingsButton {
    top: 0px;
    right: 0px;
    height: 50px;
    width: 50px;
  }
  .storyButton {
    top: 10px;
    left: 10px;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media (max-height: 480px) {
  body {
    height: 100vh;
  }
  .canvas-container {
    height: 100%;
  }
  .canvas {
    height: 100%;
  }
  .controls-media {
    height: unset;
    padding: 0 20px;
  }
}
